*~
*.o
proto/*.cc
proto/*.h
Makefile.in
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
decode
depcomp
install-sh
./listen
missing
.deps
.dirstamp
./seqpacket
config.h.in
stamp-h1
./seqpacket
*.pcap

*.la
*.so
.libs
.cache
compile_commands.json
proto/gen/
src/config.h
*.lo
libtool
ltmain.sh
test-driver
